<div class="container">
  <h1 class="text-center my-5"><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-4">
      <%= cl_image_tag @cocktail.photo.key, class: 'img-fluid', crop: :fill %>
    </div>
    <div class="col-8">      
      <table class="table">
        <thead class="thead-dark">
          <th>Description</th>
          <th>Ingredient</th>
          <th>#</th>
        </thead>
        <tbody>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.description %></td>
              <td><%= dose.ingredient.name %></td>
              <td><%= link_to 'Remove', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Home', cocktails_path, class: 'btn btn-primary' %>
      <%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
